.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-region {
  padding: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-column {
  padding: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-layout_1_columna_arriba_2_columnas_abajo-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo-inside {
  padding-right: 0px;
}

.panels-flexible-layout_1_columna_arriba_2_columnas_abajo {
  width: auto;
}

.panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-encabezado {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-layout_1_columna_arriba_2_columnas_abajo-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-center {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-layout_1_columna_arriba_2_columnas_abajo-main-row-inside {
  padding-right: 0px;
}

