@media all and (min-width:1281px)  { 

	.page-inicio .main-content{
		 width: 1280px;
		 max-width: 1280px;
	}

		#block-views-ed5db07469e68153e4002605aea7ce02 .content,
	#block-views-ff46cc3723cde3ff848cce721def5c9c .content{
	  width: 1280px;
	}

	.container-nivel2{
		width: 980px;
	}

	#block-block-4 .content{
	    width: 1280px;
	}

	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row,
	.view-display-id-bloque_casos_exito_relacionados .view-content .views-row
	{
	  width: 423px;
	  float: left;
	}
	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row .resumen-portafolio,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row 											.resumen-portafolio,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row .resumen-portafolio,
	.view-display-id-bloque_casos_exito_relacionados .view-content .views-row .resumen-portafolio{
	  width: 423px;
	}
	.hover-titulo {
	  width: 423px;
	}
	.roll-over-portfolio{
	  width: 423px;
	}
	.roll-over-portfolio-inner{
	  width: 388px;
	}

	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row,
	.view-display-id-bloque_casos_exito_relacionados .view-content .views-row
	{
		 height: 272px;
	}


	.roll-over-portfolio{
		 height: 272px;
	}


	.roll-over-porfolio-title  a,
	.roll-over-porfolio-title  a:hover,
	.roll-over-porfolio-title  a:visited{
	  font-size: 22px;
	}

	#block-block-7 .content h2{
	  font-size: 38px;
	}

	.roll-over-porfolio-title {
		height: 60px;
	}

	.hover-titulo a {
		font-size: 25px;
	}

	.page-inicio .jcarousel-skin-default .jcarousel-container .jcarousel-item{
		width: 350px !important;
	}
	.page-inicio  .view-nuestro-proceso .jcarousel-skin-default .jcarousel-next{
		left: -150px;
		position: absolute;
		top: 88px;
	}
	.page-inicio  .view-nuestro-proceso  #titulo-nuestro-proceso h3{
		font-size: 75px;
		line-height: 50px;	
	}	
	.page-inicio  .view-nuestro-proceso  #titulo-nuestro-proceso h3 span{
	  font-size: 75px;
	}		
	
	.roll-over-porfolio-fecha {
		font-size: 30px;
		margin-top: 24px;
	}

	.roll-over-porfolio-descri {
		font-size: 22px;
		line-height: 24px;
	}

	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content,
	.view-display-id-block_resumen_portafolio_grande .view-content
	{
	  width: 1280px;
	  margin: auto;
	}

	.bloque-encabezado-construimos-sueno-inner, .encabezado-cual-es-su-objetivo-inner, #block-app-seo-calc-application-inner, .encabezado-app-redes-sociales-inner {
		width: 1280px;
	}

.node-type-especialidad .flexslider .slides img,
	.view-display-id-bloque_banner_portafolio .flexslider .slides img {
	max-width: 1428px;
	min-width: 1428px;
}

.node-type-especialidad .flexslider, .view-display-id-bloque_banner_portafolio .flexslider {margin-top: -194px; width: 100%; margin-left: 0px; margin-right: 0px; margin-bottom: 25px; float: left;}

#block-views-especialidad-block-1 .attachment-before {
	height: 265px;
	top: 327px;
	width: 100%;
}

.view-display-id-bloque_banner_portafolio .attachment-before {
	height: 265px;
	top: 327px;
	width: 100%;
}

#block-views-especialidad-block-1 .attachment-before img,
.view-display-id-bloque_banner_portafolio .attachment-before img{
	width: 20%;
}

#block-views-especialidad-block-1 .attachment-before .view-especialidad .view-content{
	width: 1024px;
	top: -100px;
}

.view-display-id-bloque_banner_portafolio .attachment-before .view-especialidad .view-content{
	width: 1024px;
	top: -58px;
}

.node-type-especialidad .flex-control-nav {
	top: 510px !important;
}

.view-display-id-bloque_banner_portafolio .flex-control-nav {
	top: 510px !important;
}

.titulo_detalle_blog {
  padding-left: 17px;
}

.icon_c {
  margin-left: -41px;
}

.imagen-portafolio-wrap .field-name-field-imagen {
	position: absolute;
	top: 29%;
	left: 34%;
}

.node-type-personal #block-views-c5d5133c5fb8e77f14adb2f41cab4493,
.page-node-48 #block-views-c5d5133c5fb8e77f14adb2f41cab4493{
	width: 1280px;
}

.page-node-48 .jcarousel-skin-default .jcarousel-prev-horizontal,
.node-type-personal .jcarousel-skin-default .jcarousel-prev-horizontal{
	top: -85px;
}

.page-node-48 .jcarousel-skin-default .jcarousel-next-horizontal,
.node-type-personal .jcarousel-skin-default .jcarousel-next-horizontal{
	top: -85px;
}

.page-node-48 .bienvenido,
.page-node-48 #block-views-c5d5133c5fb8e77f14adb2f41cab4493 h2,
.node-type-personal #block-views-c5d5133c5fb8e77f14adb2f41cab4493 h2,
.page-node-48 #block-views-05b690739cf47115cc89f867c9ccdd24 h2,
.node-type-personal #block-views-05b690739cf47115cc89f867c9ccdd24 h2{
	font-size: 48px;
}

.rolloverpersonal .field-name-body p{
	font-size: 15px;
	line-height: 18px;
}

.page-node-48 #block-block-5{
	width: 1280px;
	height: 1230px;
	margin:auto;
}

.page-node-48 #bloque-1,
.page-node-48 #bloque-1 .rollover_about{
	width: 582px;
	height: 455px;	
}

.page-node-48 #bloque-2,
.page-node-48 #bloque-2 .rollover_about{
	width: 698px;
	height: 455px;	
}

.page-node-48 #bloque-3,
.page-node-48 #bloque-3 .rollover_about{
	width: 875px;
	height: 455px;	
}

.page-node-48 #bloque-4,
.page-node-48 #bloque-4 .rollover_about{
	width: 405px;
	height: 455px;	
}

.page-node-48 #bloque-4 .rollover_about img{ display:  block;}

.page-node-48 .field-name-body h2,
#bloque-3 .rollover_about p{
font-size: 33px;
line-height: 49px;
}

.page-node-48 .field-name-body  h2 span,
#bloque-3 .rollover_about span{
	font-size: 46px;
}

.page-node-48 #bloque-1 .rollover_about p {
line-height: 24px;
margin: 0 0 9px 0;
}

.page-node-48 .bloque .rollover_about p{
	font-size: 21px;
}

.page-node-48 #bloque-4 .rollover_about p{
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 18px;
}


.page-node-48 .bloque h2{
 font-size: 25px;
margin-bottom: 30px;
margin-top: 25px;
} 

.page-node-48 .caption{
	top: 20%;
}

.page-node-48 #bloque-1 .caption {
	top: 26%;
}

.page-node-48 .caption p{
	font-size: 51px;
	line-height: 54px;
}


.page-node-48 #bloque-3 .rollover_about{
	padding-top: 100px;	
}

.page-node-48 .bloque .rollover_about span{
	font-size: 49px;	
}

}