@media all and (min-width:1280px)  { 

	.page-inicio .main-content{
		 width: 1280px;
		 max-width: 1280px;
	}

		#block-views-ed5db07469e68153e4002605aea7ce02 .content,
	#block-views-ff46cc3723cde3ff848cce721def5c9c .content{
	  width: 1280px;
	}

	.container-nivel2{
		width: 980px;
	}

	#block-block-4 .content{
	    width: 1280px;
	}

	 .page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row
	{
	  width: 423px;
	  float: left;
	}
	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row .resumen-portafolio,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row 											.resumen-portafolio,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row .resumen-portafolio{
	  width: 423px;
	}
	.hover-titulo {
	  width: 423px;
	}
	.roll-over-portfolio{
	  width: 423px;
	}
	.roll-over-portfolio-inner{
	  width: 388px;
	}

	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row
	{
		 height: 272px;
	}


	.roll-over-portfolio{
		 height: 272px;
	}


	.roll-over-porfolio-title  a,
	.roll-over-porfolio-title  a:hover,
	.roll-over-porfolio-title  a:visited{
	  font-size: 25px;
	}

	#block-block-7 .content h2{
	  font-size: 38px;
	}

	.roll-over-porfolio-title {
		height: 60px;
	}

	.hover-titulo a {
		font-size: 25px;
	}

	.page-inicio .jcarousel-skin-default .jcarousel-container .jcarousel-item{
		width: 350px !important;
	}
	.page-inicio  .view-nuestro-proceso .jcarousel-skin-default .jcarousel-next{
		left: -172px;
		position: absolute;
		top: 88px;
	}
	.page-inicio  .view-nuestro-proceso  #titulo-nuestro-proceso h3{
		font-size: 75px;
		line-height: 50px;	
	}	
	.page-inicio  .view-nuestro-proceso  #titulo-nuestro-proceso h3 span{
	  font-size: 75px;
	}		
	
	.roll-over-porfolio-fecha {
		font-size: 30px;
		margin-top: 24px;
	}

	.roll-over-porfolio-descri {
		font-size: 22px;
		line-height: 24px;
	}

	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content,
	.view-display-id-block_resumen_portafolio_grande .view-content
	{
	  width: 1280px;
	  margin: auto;
	}

	.bloque-encabezado-construimos-sueno-inner, .encabezado-cual-es-su-objetivo-inner, #block-app-seo-calc-application-inner, .encabezado-app-redes-sociales-inner {
		width: 1280px;
	}

.node-type-especialidad .flexslider .slides img {
	max-width: 1428px;
	min-width: 1428px;
}

.node-type-especialidad .flexslider {margin-top: -194px;}
#block-views-especialidad-block-1 .attachment-before {
	height: 265px;
	top: 355px;
	width: 100%;
}

#block-views-especialidad-block-1 .attachment-before img {width: 20%;}

#block-views-especialidad-block-1 .attachment-before .view-especialidad .view-content {
	width: 1024px;
	top: -100px;
}

.node-type-especialidad .flex-control-nav {top: 545px !important;}

}