@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-regular.eot');
    
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
    	url('../fonts/proximanova-regular.woff') format('woff'), 
    	url('../fonts/proximanova-regular.ttf') format('truetype'),
    	url('../fonts/proximanova-regular.svg#ProximaNova') format('svg');
    font-weight: normal;
}

@font-face {
	font-family: 'Baskerville';
    src: url('../fonts/baskerville-italic.eot');/* Para Internet Explorer */
    
    src: url('../fonts/baskerville-italic.eot?#iefix') format('embedded-opentype'),
    	url('../fonts/baskerville-italic.woff') format('woff'), 
    	url('../fonts/baskerville-italic.ttf') format('truetype'),
    	url('../fonts/baskerville-italic.svg#Baskerville') format('svg');
    font-weight: normal;
    
    font-style: italic;
}



html {
	border-top: none !important; 
}

body{
	margin: 0 !important;

}

a,
a:link,
a:visited,
a:hover{
	text-decoration: none;
	border-bottom: none;
	background: none;
}

.header{
	background-color: transparent !important;
}



.menu-desplegable{
	background-color: #e8442e;
    display: none;
    height: 240px;
    padding-top: 22px;
    position: fixed;
    width: 100%;
    z-index: 100;

	
}


#block-system-main-menu ul.menu{
	text-align: center;
	clear: both;
    margin-top: 85px;
	
}

#block-system-main-menu ul.menu li{
	display: inline-block;
	margin: 0;
    padding: 0 32px;

}

#block-system-main-menu ul.menu li.first {
    padding-left: 0;
}

#block-system-main-menu ul.menu li.last {
    padding-right: 0;
}

#block-system-main-menu ul.menu li a{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	font-family: "ProximaNova";	
	transition: all 0.3s ease 0s;
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

#block-system-main-menu ul.menu li a:hover{
	transform: translate(0px,-2px);
}
.box-logo-menu{
	float: left;
	transition: all 0.2s ease 0s;
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

.box-logo-menu:hover{
	transform: translate(0px,-2px);
}

.box-boton-cerrar{
	float: right;
	transition: all 0.2s ease 0s;
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;

}
.box-boton-cerrar:hover{
	transform: translate(0px,-2px);
}

.region-header{
	clear: both;
	margin: 78px 0 60px;
	width: 100%;
	height: 30px;
}

.box-logo-cerrar{
	width: 100%;
	clear:	both;
	height: 50px;
}

/*header estatico*/

.header-estatico{
	background-color:#fff;
	height: 90px;
	padding-top: 22px;
	border-bottom: 1px solid #808080;
	width: 100%;
	position: fixed;
	z-index: 99;
}

.header-estatico .box-logo-estatico{
	float: left;
	transition: all 0.2s ease 0s;
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

.header-estatico .box-logo-estatico:hover{
	transform: translate(0px,-2px);
}
.header-estatico .menu-toggle{
	float: right;
	transition: all 0.2s ease 0s;
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

.header-estatico .menu-toggle:hover{
	transform: translate(0px,-2px);
}

.main-content {
    padding: 90px 10px 20px;
    width: 980px;
}

.footer{
	 background-color: #e8442e;
    max-width: 100%;
    min-height: 415px;
    padding-top: 22px;
    width: 100%;
}

.closure{
	width: 100%;
	max-width: 100%;
	background-color: #333333;
	min-height: 80px;
}

.footer .footer-box h2 a{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	font-family: "ProximaNova";	
	
}



.footer .footer-box .block-menu-block ul li{
	list-style: none;
	margin:0;
	line-height: 18px;
	padding-bottom: 10px;
}

.footer .footer-box .block-menu-block ul li a{
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	font-family: "ProximaNova";	
	transition: all 0.2s ease 0s;
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

.footer .footer-box .block-block p, 
.footer .footer-box .block-block p a{
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	font-family: "ProximaNova";	
} 
.footer .footer-box .block-block p{
	margin-bottom: 10px;
    margin-top: 5px;
}

.footer .footer-box .block-block p span.tabulador{
	padding-left: 26px;
}

.footer .footer-box .block-menu-block ul li a:hover{
	transform: translate(2px, 0px);
}

.footer .footer-box .block-block p.linea30{
	 float: left;
    line-height: 30px;
    margin-top: 0;
    width: 65px;
}

.footer .footer-box #block-menu-block-1,
.footer .footer-box #block-menu-block-2,
.footer .footer-box #block-menu-block-4,
.footer .footer-box #block-block-2{
	float: left;
	margin-right: 22px;
}

.footer .footer-box #block-menu-block-3{
	float: left;
	margin-right: 24px;
}

.footer .footer-box #block-block-1{
	float: left;
}

.footer .footer-box #block-menu-block-1{
	width: 150px;
}
.footer .footer-box #block-menu-block-2{
	width: 153px;
}
.footer .footer-box #block-menu-block-3{
	width: 206px;
}

.footer .footer-box #block-menu-block-4{
	width: 118px;
}

.footer .footer-box #block-block-2{
	width: 58px;
}

.footer .footer-box #block-block-1{
	width: 180px;
}

/*Listado Blog*/

.page-blog .main-content .main {
	width: 630px;
	float: left;
	padding: 0;
}


.page-blog #sidebar-second{
	width: 295px;
	float: right;
}


#block-menu-menu-categorias-blog {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    padding-bottom: 15px;
}

#block-menu-menu-categorias-blog h3 {
    border-bottom: 1px solid #808080;
    color: #1a1a1a;
    font-family: "ProximaNova";
    font-size: 28px;
    font-style: normal;
    margin: 0;
    padding: 44px 0 38px 32px;
    text-transform: uppercase;
}

#block-menu-menu-categorias-blog ul.menu{
	list-style: none outside none;
    padding-left: 0;
    margin: 30px 0 0 25px;
}

#block-menu-menu-categorias-blog ul.menu li{
	margin-bottom: 15px;
	list-style: none outside none;
}

#block-menu-menu-categorias-blog ul.menu li a{
	display: block;
  width: 86%;
  height: 45px;
  padding-left: 60px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Proximanova, sans-serif;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
}

#block-menu-menu-categorias-blog ul.menu li a:hover {
  padding-left: 50px;
  -webkit-transform: translate(15px, 0px);
  -ms-transform: translate(15px, 0px);
  -o-transform: translate(15px, 0px);
  transform: translate(15px, 0px);

}

#block-menu-menu-categorias-blog ul.menu li a.menu-547 {
	background-image: url("../images/gente-orbelink.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

#block-menu-menu-categorias-blog ul.menu li a.menu-545  {
  background-image: url('../images/casodexitos-orbelink.png');
  background-position: 0px 50%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  line-height: 23px;
}
#block-menu-menu-categorias-blog ul.menu li a.menu-546 {
  background-image: url('../images/editorial.png');
  background-position: 0px 50%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
}
#block-menu-menu-categorias-blog ul.menu li a.menu-544  {
  background-image: url('../images/casodexitos-mundo.png');
  background-position: 0px 50%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  line-height: 23px;
}
#block-menu-menu-categorias-blog ul.menu li a.menu-550 {
  background-image: url('../images/tendencias.png');
  background-position: 0px 50%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
}
#block-menu-menu-categorias-blog ul.menu li a.menu-548{
  background-image: url('../images/investigaciones.png');
  background-position: 0px 50%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
}
#block-menu-menu-categorias-blog ul.menu li a.menu-549 {
  background-image: url('../images/noticias.png');
  background-position: 0px 50%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
}


/* Andrey 30-09-2014 */

h1#page-title{
  font-family: Proximanova, sans-serif;
  color: #1a1a1a;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  text-align:center;
  margin: 8px 0 50px;
}
.h1_subtitle {
  font-family: Baskerville, sans-serif;
  color: #00a69c;
  font-size: 70px;
}

.page-blog .main h2{
	  line-height: 22px;
}
.page-blog .main h2 a{
  font-family: Proximanova, sans-serif;
  color: #4d4d4d;
  font-size: 22px;
  text-decoration: none;	
}
.page-blog .main .field-name-field-tags-blog .field-items a{
  height: 23px;
  margin-right: 10px;
  padding-right: 15px;
  padding-left: 10px;
  float: left;
  background-color: #a7a9ac;
  background-image: url('../images/tag-arrow.jpg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  line-height: 23px;	
}

.page-blog .main .view-id-view_blog .view-content .views-row{
  width: 300px;
  margin-bottom: 25px;
}

.page-blog .main .view-id-view_blog .view-content .views-row-odd{
	margin-right: 10px;
}
.field-name-field-categor-a{
	display:none;
}
/*.page-blog .main .views-row .field field-name-field-imagenes{
  height: 500px;
  background-size: 125px;
}*/