@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.woff), 
    url(../fonts/ProximaNova-Regular.eot), 
    url(../fonts/ProximaNova-Regular.ttf), 
    url(../fonts/ProximaNova-Regular.otf),
    url(../fonts/ProximaNova-Regular.svg);
    font-weight: 400;
}

@font-face {
    font-family: Baskerville;
    src: url(../fonts/Baskerville-Italic.woff), 
    url(../fonts/Baskerville-Italic.eot), 
    url(../fonts/Baskerville-Italic.ttf), 
    url(../fonts/Baskerville-Italic.otf),
    url(../fonts/Baskerville-Italic.svg);
    font-weight: 400;
    font-style: italic;
}



html {
	border-top: none !important; 
}

body{
	margin: 0 !important;

}

a,
a:link,
a:visited,
a:hover{
	text-decoration: none;
	border-bottom: none;
	background: none;
}

.header{
	background-color: transparent !important;
}



.menu-desplegable{
	background-color: #e8442e;
    display: none;
    height: 240px;
    padding-top: 22px;
    position: absolute;
    width: 100%;
    z-index: 100;

	
}


#block-system-main-menu ul.menu{
	text-align: center;
	
}

#block-system-main-menu ul.menu li{
	display: inline-block;
	margin: 0;
    padding: 0 32px;

}

#block-system-main-menu ul.menu li.first {
    padding-left: 0;
}

#block-system-main-menu ul.menu li.last {
    padding-right: 0;
}

#block-system-main-menu ul.menu li a{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	font-family: "ProximaNova";	
}

.box-logo-menu{
	float: left;
}

.box-boton-cerrar{
	float: right;
}

.region-header{
	clear: both;
	margin: 78px 0 60px;
	width: 100%;
	height: 30px;
}

.box-logo-cerrar{
	width: 100%;
	clear:	both;
	height: 50px;
}

/*header estatico*/

.header-estatico{
	background-color:#fff;
	height: 90px;
	padding-top: 22px;
	border-bottom: 1px solid #808080;
}

.header-estatico .box-logo-estatico{
	float: left;
}

.header-estatico .menu-toggle{
	float: right;
}