@media all and (min-width:480px) { 

	.container-nivel2{
		width: 90%;
	}

	.menu-desplegable{
	  height: 300px;
	  top: -300px;   
	}

	#block-system-main-menu ul.menu li{
	  	padding: 0 0 0 10px ;
	}

	/* Slider home */

	.view-slider-home .flex-caption {
	   bottom: 20px;
	}

	.view-slider-home .flex-caption h3{
	  font-size: 25px;
	}

	.view-slider-home .flex-caption h3 span{
	  font-size: 30px;
	}

	/*.view-slider-home .flex-caption .caption-slider-home-pequeno{
	  font-size: 34px;
	  margin: 0;
	  line-height: 50px;
	}

	.view-slider-home .flex-caption .link-slider-box {
	  height: 58px;
	  line-height: 50px;
	  margin: 30px auto 0;
	  width: 220px;
	}*/

	/* footer */

	.footer .footer-box h2 a{
		font-size: 1.3em;
		border-bottom: 1px solid #fff;
	}

	.footer .footer-box .block{
		margin: 0 auto;
	}

	.footer .footer-box .block{
	  width: 96%;
	  margin-bottom: 0 2% 7% 2%;
	  padding-bottom: 7%;
	}

	.footer .footer-box .block-menu-block ul li{
		list-style: none;
		margin:0;
		line-height: 18px;
		padding-bottom: 10px;
	}

	.footer .footer-box .block-menu-block ul li a{
		font-size: 1em;
	}
	
	/**** Andrey Solís :: 30-10-2014 ******/
	
	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row
	{
		 height: 264px;
		width: 408px;
		float: none;
		margin: 0 auto;
	}

#encabezado-nuestro-proceso p{
  font-size: 22px;
  line-height: 25px;
}	
	
	.roll-over-portfolio{

	  height: 273px;
}
	.roll-over-porfolio-title {
		height: 60px;
	}
	/**************************************/

.node-type-especialidad .node-especialidad .field-name-body h2{
	 font-size: 30px;
}

.node-type-especialidad .node-especialidad .field-name-body h2 span{
	  font-size: 44px;
}

.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas{
 	margin-right: 0px;
}

#block-app-seo-seo-application .bloque-encabezado-construimos-sueno-inner h2 {
	margin: 53px 0 0;
}

.node-type-especialidad .flexslider .slides img {
	max-width: 480px;
	min-width: 480px;
}

.node-type-especialidad .flexslider {margin-top: -80px;}
#block-views-especialidad-block-1 .attachment-before {height: 70px; width: 480px; top: 105px;}
#block-views-especialidad-block-1 .attachment-before .view-especialidad .view-content {width: 480px; top: -153px; margin: 0 auto; text-align: center;}/*top:-120px*/
#block-views-especialidad-block-1 .attachment-before h1 {font-size: 30px; padding: 10px 0 0 0; line-height: 25px;}

/*Listado Blog*/

.page-blog .main-content .main,
.page-blog-todos .main-content .main,
.node-type-blog .main-content .main,
.vocabulary-categorias_de_blog .main-content .main,
.vocabulary-departamento  .main-content .main,
.vocabulary-tags  .main-content .main {
	width: 100%;
	padding: 0px 0px 160px 0px;
}

/* page blog */
.page-title-blog{
  font-size: 60px;
  margin: 8px 0 50px;
}

.subtitle {
  font-size: 70px;
}

.titulo_detalle_blog h1{
  font-size: 24px;
  line-height: 29px;
  margin: 0px; padding: 0px;
}

.field-name-field-departamento .ds-2col > .group-left{
	width: 31%;
 	margin-right: 2%;
}

.field-name-field-departamento .ds-2col > .group-right{
	width: 67%;
}

.sobre_autor {
  margin-top: 9px;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 29px;
}

.ds-2col > .group-left {
	float: left; 
}

.autor_img {
  width: 139px;
}
#blog-list-content .views-row,
#blog-todos-list-content .views-row,
.vocabulary-categorias_de_blog .view-id-taxonomy_term.view-display-id-page .view-content .views-row,
.vocabulary-departamento .view-id-taxonomy_term.view-display-id-page .view-content .views-row,
.vocabulary-tags .view-id-taxonomy_term.view-display-id-page .view-content .views-row,
.view-display-id-block_nuestro_blog .view-content .views-row,
.bloque-nuestro-blog-movil .views-row{
	width: 300px;
}


}