.container-nivel1{
	margin: 0 auto;
}

/* Global */
.container-nivel2{
	width: 100%;
	margin: 0 auto;
}

/* Nuestro Trabajo */
#block-block-4 .content{
    width: 100%;
    margin: 0 auto;
}



/* movil landscape */
@media all and (min-width:480px) and (max-width:767px) { 

	.container-nivel2{
		width: 90%;
	}

}

/* tablet */
@media all and (min-width:768px) and (max-width:979px) { 

	.container-nivel2{
		width: 80%;
	}

}


@media all and (min-width:980px) and (max-width:1279px) { 

	.container-nivel2{
		width: 980px;
	}

	/* Nuestro Trabajo */

	#block-block-4 .content{
	    width: 1024px;
	}


	/* Slider home */
	.page-inicio .main-content{
		 width: 100%;
		 max-width: 1024px;
	}

	#block-views-ed5db07469e68153e4002605aea7ce02 .content,
	#block-views-ff46cc3723cde3ff848cce721def5c9c .content{
	  width: 100%;
	}

	.page-inicio .view-display-id-block_resumen_portafolio_pequeno,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado,
	.view-display-id-block_resumen_portafolio_grande  {
	  width: 100%;
	}
	
}

@media all and (min-width:1280px)  { 

	.container-nivel2{
		width: 980px;
	}

	#block-block-4 .content{
	    width: 1280px;
	}

}