@media all and (min-width:768px) {

	/* Main content. Paginas internas */
	.main-content {
	  /*padding: 90px 10px 0px;*/ /*45px*/
	  /*margin-top: 70px;*/
	  width: 100%;
	}
	.page-blog .main-content,
	.node-type-blog .main-content{
		margin-top: 90px;
	}
	.front .main-content{
		margin-top: 70px;
	}
	.menu-desplegable{
	  position: fixed; 
	}
	.header-estatico{
		position: fixed;	
	}
		
	.container-nivel2{
		width: 80%;
	}
	
	.menu-desplegable{
	  height: 350px;
	  top: -350px;   
	}

	#block-system-main-menu ul.menu li{
	  	padding: 0 0 0 15px ;
	}

	/* Slider home */

	/*.page-inicio .main-content{
		 padding: 90px 0px 0px 0px;
	}*/
	.view-slider-home .flex-caption h3{
	  font-size: 62px;
	  line-height: 45px;
	}

	.view-slider-home .flex-caption h3 span{
	  font-size: 79px;
	}

	.view-slider-home .flex-caption .caption-slider-home-pequeno{
	  font-size: 34px;
	  margin: 0;
	  line-height: 50px;
	}

	.view-slider-home .flex-caption .link-slider-box {
	  height: 58px;
	  line-height: 50px;
	  margin: 30px auto 0;
	  width: 220px;
	}
	.view-slider-home .flex-caption .link-slider-box a{
	  font-size: 26px;
	  line-height: 55px;
	}	
	.view-slider-home .flex-caption .link-slider-box a span{
	  font-size: 31px;
	}		

	/* footer */

	.footer{
	  min-height: 215px;
	}

	/* Ajustar  el ancho del contenedor solo para que afecte al footer */
	.footer .container-nivel2{
		width: 98%;
	}

	.footer .footer-box h2 {
		line-height: 1.2em;
	}

	.footer .footer-box h2 a{
		font-size: 1em;
		border-bottom: none;
	}

	.footer .footer-box .block{
	  float: left;
	  margin: 0px;
	  margin-bottom: 0 2% 7% 2%;
	  padding-bottom: 2%;
	}

	.footer .footer-box #block-menu-block-3 .content,
	.footer .footer-box #block-menu-block-1 .content,
	#block-block-1 p{ 
		display: none;
	}

	.footer .footer-box #block-menu-block-1 {
		width: 23%;
	}

	.footer .footer-box #block-menu-block-3 {
		width: 26%;
	}

	.footer .footer-box #block-block-14 {
		width: 19%;
	}

	.footer .footer-box #block-block-2 {
		width: 20%;
	}

	.footer .footer-box #block-block-1 {
		width: 12%;
	}

	.footer .footer-box .block-menu-block ul li{
		list-style: none;
		margin:0;
		line-height: 18px;
		padding-bottom: 10px;
	}
	
	.footer .footer-box .block-menu-block ul li a{
		font-size: 1em;
	}

	#block-block-15 {
		display: block;
		height: 100px;
		width: 23%;
		float: none;
		margin: 0 auto;
	}
	
	.footer .footer-box #block-block-15 p.linea30 {
		line-height: 40px;
	}

	#block-block-15 .logos-redes-footer {
		float: left;
	}

	#block-block-15 .logos-redes-footer a{
		float: left;
		margin-right: 8px;
	}

	/**** Andrey Solís :: 30-10-2014 ******/
	
	.page-inicio .pane-1 .pane-content h2,
	.page-nuestros-servicios .pane-1 .pane-content h2{
	 font-size: 33px;
	 line-height: 31px;
	}
	.page-inicio .pane-1 .pane-content p,
	.page-nuestros-servicios .pane-1 .pane-content p{
	 font-size: 20px;
	 line-height: 25px;
	}
	.page-inicio .view-display-id-block_islas_especialidad .views-row,
	.page-nuestros-servicios .view-id-especialidad.view-display-id-block_2 .views-row{
	  width: 50%;
	  padding-left: 2%;
	  padding-right: 2%;
	  margin-right: 0px;
	}

	.page-inicio .view-display-id-block_islas_especialidad .views-row{
		 min-height: 450px;
	}

	.page-nuestros-servicios .view-id-especialidad.view-display-id-block_2 .views-row{
		min-height: 370px;
	}

	.page-inicio .view-display-id-block_islas_especialidad, .page-nuestros-servicios .view-id-especialidad.view-display-id-block_2{
		 margin: 0 auto;
    width: 94%;
	}


	.page-nuestros-servicios .view-id-especialidad.view-display-id-block_2  .views-row .views-field-title h2{
	
}

.page-nuestros-servicios .main-content{
	margin-top: 80px;
}



	#cintillo-10-years{
	 padding-top: 75px;
	}
	#block-block-7{
  min-height: 100px;
}


#block-block-7 .content h2,
#block-block-16 .content h2{  
  font-size: 38px;  
}


#block-block-7 .content h2 span,
#block-block-16 .content h2 span{ 
 font-size: 56px;
}



#block-block-16{
  min-height: 190px;
}			

#block-block-16 .content{
	padding-top: 20px;
}

	.page-inicio .resumen-portafolio .imagen-portafolio-wrap > img{
		width: auto;
	}
	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content,
	.view-display-id-block_resumen_portafolio_grande .view-content,
	.view-display-id-bloque_casos_exito_relacionados .view-content
	{
	  width: 450px;
	  margin: 0 auto;
	}
	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row,
	.view-display-id-bloque_casos_exito_relacionados .view-content .views-row
	{
	  width: 423px;
	  float: left;
	}
	.page-inicio .view-display-id-block_resumen_portafolio_pequeno .view-content .views-row .resumen-portafolio,
	.view-display-id-block_resumen_portafolio_pequeno_sin_encabezado .view-content .views-row,										.resumen-portafolio,
	.view-display-id-block_resumen_portafolio_grande .view-content .views-row .resumen-portafolio,
	.view-display-id-bloque_casos_exito_relacionados .view-content .views-row .resumen-portafolio{
	  width: 423px;
	}
	.hover-titulo {
	  width: 423px;
	}
	.roll-over-portfolio{
	  width: 423px;
	}
	.roll-over-portfolio-inner{
	  width: 388px;
	}
	.page-inicio .view-nuestro-proceso .jcarousel-skin-default .jcarousel-clip-horizontal{
	  width: 700px;
	}
	.page-inicio .jcarousel-skin-default .jcarousel-container .jcarousel-item{
	  padding: 0px;
	  width: 350px !important;
	}
	.page-inicio  .view-nuestro-proceso .jcarousel-skin-default .jcarousel-clip-horizontal img{
		width: 100%;
	}		
	.page-inicio .view-nuestro-proceso .view-content{
	  width: 700px;
	  margin: 0 auto;
	}
.page-inicio  .view-nuestro-proceso .jcarousel-skin-default .jcarousel-prev{
  left: 275px;
  top: -50px;
}

.page-inicio  .view-nuestro-proceso .jcarousel-skin-default .jcarousel-next{
  right: 275px;
  top: -50px; 
}
.page-inicio  .view-nuestro-proceso  #titulo-nuestro-proceso h3{
  font-size: 72px;
  line-height: 52px;
}

.page-inicio  .view-nuestro-proceso  #titulo-nuestro-proceso h3 span{
  font-size: 75px;
}	
.page-inicio .jcarousel-container{
  height: 610px;
}
	/**************************************/

/* Juan Martinez */
/* Bloque blog home */
#block-views-view-blog-block-nuestro-blog {
	display: block;
  width: 82%;
}

#block-views-15d729d67643f4d9a80f31f31f045778 {
	display: none;
}

.view-display-id-block_nuestro_blog .view-content {
	margin: 0 auto;
}

#block-views-view-blog-block-nuestro-blog h2 {
	text-align: center;
}

/* seccion interna de especialidades */
.node-type-especialidad .node-especialidad .field-name-body .parrafo{
	 width: 47%;
	 padding: 0;
	 font-size: 20px;
}

.node-type-especialidad .node-especialidad .field-name-body h2{
	 font-size: 34px;
}

.node-type-especialidad .node-especialidad .field-name-body h2 span{
	  font-size: 48px;
}

.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas{
	   padding: 0 2%;
    width: 50%;
	  margin-right: 0;
}

.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas.isla-caracteristica-2,
.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas.isla-caracteristica-4,
.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas.isla-caracteristica-6,
.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas.isla-caracteristica-8,
.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas.isla-caracteristica-10,
.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas.isla-caracteristica-12{
 	margin-right: 0px;
}

.node-type-especialidad .node-especialidad .group-islas-especialidad .vocabulary-caracteristicas:nth-child(2n+2){
  	margin-right: 0px;
}

#block-app-seo-seo-application .bloque-encabezado-construimos-sueno-inner h2 {
	margin: 15px 0 0;
}

.bloque-encabezado-construimos-sueno-inner h2, .encabezado-cual-es-su-objetivo h2, #block-app-seo-calc-application-inner h2, .encabezado-app-redes-sociales h2 {
	font-size: 30px;
	line-height: 40px;
	margin: 20px 0 0;
	padding: 0 200px;
}

.bloque-encabezado-construimos-sueno-inner h2{
	margin: 15px 0 0;
	font-size: 25px;
}

.bloque-encabezado-construimos-sueno-inner h3{
	font-size: 23px;
}

.bloque-encabezado-construimos-sueno-inner, .encabezado-cual-es-su-objetivo-inner, #block-app-seo-calc-application-inner, .encabezado-app-redes-sociales-inner {
	width: 100%;
	
	background-image: url(../images/liston-blanco-sueno-especialidad-tablet.png);
}

/***** AJUSTE A BANNER PRICIPALES ******/

.node-type-especialidad .flexslider .slides img,
.view-display-id-bloque_banner_portafolio .flexslider .slides img {
	max-width: 768px;
	min-width: 768px;
	margin: auto;
}

.node-type-especialidad .flexslider, .view-display-id-bloque_banner_portafolio .flexslider {margin-top: -55px;}
.view-display-id-bloque_banner_portafolio .flexslider {
	margin: 0;
	width: 100%;
}

#block-views-especialidad-block-1 .attachment-before{
	height: 125px;
	position: relative;
	top: 240px;
	z-index: 3;
	width: 768px;
}

.view-display-id-bloque_banner_portafolio .attachment-before {
	height: 125px;
	position: relative;
	top: 280px;
	z-index: 3;
	width: 768px;
}

#block-views-especialidad-block-1 .attachment-before img, .view-display-id-bloque_banner_portafolio .attachment-before img {display: block; width: 15%; margin: 0 auto;}
#block-views-especialidad-block-1 .attachment-before .view-especialidad .view-content,
.view-display-id-bloque_banner_portafolio .attachment-before .view-especialidad .view-content {
	width: 600px;
	height: 167px;
	position: relative;
	top: -47px;
	margin: 0 auto;
	text-align: center;
}
#block-views-especialidad-block-1 .attachment-before h1,
.view-display-id-bloque_banner_portafolio .attachment-before h1 {font-size: 35px; padding: 0px; line-height: 31px;}

 /*Andrey 04-11-2014*/

.page-blog .main-content .main, .page-blog-todos .main-content .main, .node-type-blog .main-content .main, .vocabulary-categorias_de_blog .main-content .main, .vocabulary-departamento .main-content .main, .vocabulary-tags .main-content .main{
	width: 530px;
	padding-right: 15px;
}
.gu-1-3{
	width: 26.7%;
	float:right;
	
}
.page-blog .gu-1-3{
	border-left: 1px solid #808080;
}
.page-title-blog{
	font-size: 50px;
	margin: -20px 0px 10px;	
}
.subtitle{
	font-size: 59px;
}
.page-blog .flex-caption{
	padding: 40px 15px 15px;
	top: 226px;
	background-image: url("../images/bg-caption-slider.png");
	background-repeat: no-repeat;
	padding: 38px 32px 15px;
	height: 100px;
	top: -110px;
	width: 97%;
	display:block;
}


.page-blog .flex-caption h3 a, .page-blog .flex-caption h3{
	font-size: 19px;
}

#block-views-view-blog-block-3{
	display:block;
	visibility:visible;
	position:static;
}	
.view-display-id-page{
	position:absolute;
	top: 0px;
	visibility:hidden;
}

#block-views-view-blog-block-3 .view-content .views-row{
	width: 244px;
	background-color: #F2F2F2;
	margin-top: 10px;
}
.page-blog .main #block-views-view-blog-block-3 .views-field-title a{
	font-size: 16px;
}
.page-blog .main #block-views-view-blog-block-3 .views-field-title,
.page-blog .main #block-views-view-blog-block-3 .views-field-nothing{
	padding:0px 10px 0px 10px;
	box-sizing:border-box;
}
.page-blog .main #block-views-view-blog-block-3 .views-field-nothing .by{
	font-size: 13px;
	line-height: 17px;
}
.page-blog .main #block-views-view-blog-block-3 .field-name-field-tags-blog{
	box-sizing:border-box;
	padding-left: 10px;
}
.page-blog .main #block-views-view-blog-block-3 .masonry{
	margin-bottom: 50px;
}

#block-menu-menu-categorias-blog h3{
	font-size: 24px;
	padding: 18px 0 18px 18px;	
}
#block-menu-menu-categorias-blog ul.menu{
	margin: 18px 0 0 10px;
}
#block-menu-menu-categorias-blog ul.menu li{
	margin-bottom: 10px;
}
#block-menu-menu-categorias-blog ul.menu li a{
	font-size: 14px;
	padding-left: 53px;
}

#block-views-view-blog-block-1 h2{
	font-size: 19px;
	padding: 18px 0 10px 18px;	
}
/*#block-views-view-blog-block-1 .view-display-id-block_1 .view-content {
	padding: 0;
}*/
#block-views-view-blog-block-1 .view-display-id-block_1 .views-row {
	width: 90%;
}
 /* PESTAÑA DE LOS POST */

.page-blog .pest {
  width: 60px;
  height: 60px;
}
.page-blog .pest.p_1,
.page-blog .pest.p_2,
.page-blog .pest.p_3,
.page-blog .pest.p_4,
.page-blog .pest.p_5,
.page-blog .pest.p_6,
.page-blog .pest.p_7{
	background-size: 100%;
}
#block-views-view-blog-block-1 .view-display-id-block_1 .view-content .views-field-title a {
	font-size: 15px;
	line-height: 17px;
}

.page-blog .flexslider{
	float: none;
}

.page-blog .flex-control-nav,
.node-blog .flex-control-nav{
	display: block;
}
.page-blog .flex-caption .by{
	display: block;
}


#blog-list-content,
#blog-todos-list-content{
	width: 630px;
	float:left;
}

/*Listado Blog*/
/*.page-blog .main-content .main,
.page-blog-todos .main-content .main,*/
.node-type-blog .main-content .main,
.vocabulary-categorias_de_blog .main-content .main,
.vocabulary-departamento  .main-content .main,
.vocabulary-tags  .main-content .main {
	width: 69.5%;
	padding: 0px 3% 160px 0px;
	float: left;
}
.node-type-blog .main-content .main{
	border-right: 1px solid #808080;
}
.breadcrumb a{
  font-size: 14px;
}
.breadcrumb span.crumbs-current-page{
  font-size: 16px;
}

 /**/

/*Listado Blog*/

.field-name-field-departamento .ds-2col > .group-left{
	width: 139px;
 margin-right: 20px;
}

.field-name-field-departamento .ds-2col > .group-right{
	width: 100%;
}

.node-type-blog .sobre_autor {
  line-height: 24px;
}

.node-type-blog #comments input[type='text']{
  width: 204px;
}
.node-type-blog #block-views-view-blog-block-1 .view-display-id-block_1 .views-row{
	width: 205px;
}	

.node-type-blog .gu-1-3 {
	width: 30.5%;
}

.node-type-blog #block-menu-menu-categorias-blog ul.menu li a{
  width: 200px;
}

.node-type-blog #block-menu-menu-categorias-blog ul.menu li a.menu-547 {
  background-size: 45px 45px;
}

#block-menu-menu-categorias-blog ul.menu li a.menu-544,
#block-menu-menu-categorias-blog ul.menu li a.menu-545,
.page-blog #block-menu-menu-categorias-blog ul.menu li a.menu-549  {
  line-height: 23px;
}

.node-type-blog #block-menu-menu-categorias-blog h3 {
  padding: 44px 0 38px 32px;
  text-align: left;
}

.node-type-blog #block-views-view-blog-block-1 h2{
  padding: 35px 0 24px 32px;
  text-align: left;
}


/*Contacto*/
.page-contactenos .main-content{
	margin-top: 80px;
}

.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-encabezado-inside h2{
    font-size: 34px;
}

.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-encabezado-inside h2 span{
    font-size: 48px;
}



.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-center-inside .contacto-redes-sociales h3,
.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .contacto-redes-sociales h3{
     font-size: 40px;
}

.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-center-inside .contenedor-info-contacto .contacto-info-logo-inner p,
.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .contenedor-info-contacto .contacto-info-logo-inner p{
      font-size: 18px;
}



.panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-center {
    float: left;
    width: 49.5%;
    display: block;
}

.panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho {
    float: left;
    width: 49.5%;
}

.page-contactenos .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-3{
  display: none;
}

.page-contactenos  .panels-flexible-row-layout_1_columna_arriba_2_columnas_abajo-main-row{
  margin-bottom: 65px;
}


.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-webform-client-block-95{
  padding: 30px 40px 40px;
}

.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-webform-client-block-95 .form-item {
    margin-bottom: 32px;
    margin-top: 0;
}

.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-webform-client-block-95 .form-item.webform-component-textfield input,
.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-webform-client-block-95 .form-item.webform-component-email input{
  height: 73px;
  padding: 0 25px;
  line-height: normal;
  font-weight: 400px;
  font-size: 17px;

}




.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-webform-client-block-95 .form-item.webform-component-textarea textarea{
  width: 100%;
  height: 186px;
  border:0;
  max-width: 100%;
  min-width: 100%;
  max-height: 186px;
  min-height: 186px;
  padding: 25px;
  line-height: 21px;
  font-size: 17px;
}


.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-2 h2{
  font-size: 30px;
  line-height: 32px;
}

.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-2 h2 span{
	font-size: 48px;
}


.page-contactenos  .panels-flexible-region-layout_1_columna_arriba_2_columnas_abajo-derecho .pane-webform-client-block-95 .form-actions input{
  
    font-size: 39px;
    width: 144px;
    height: 53px;

}

.page-contactenos .pane-webform-client-block-95 .webform-confirmation{

    font-size: 22px;
    line-height: 30px;

}

.page-contactenos .pane-webform-client-block-95 .captcha.form-wrapper .form-type-textfield input{
  width: 100%;
  height: 73px;
  padding: 0 25px;
  line-height: normal;
  font-weight: 400px;
  font-size: 17px;
}


.page-inicio .main-content {
    max-width: 96%;
    overflow: visible;
    padding: 0 2%;
    width: 96%;
}

.page-inicio .view-display-id-block_islas_especialidad .views-row .field-name-field-descripcion-home,
.page-inicio .view-display-id-block_islas_especialidad .views-row .field-name-field-descripcion-home p,
.page-nuestros-servicios .view-id-especialidad.view-display-id-block_2  .views-row .views-field-view-node{
 font-size: 18px;
 line-height: 22px;
}

#block-views-ff46cc3723cde3ff848cce721def5c9c .content{
	padding:0;
}

.page-node-38 .main-content{
	padding: 90px 4% 0;
}

.page-node-38 .main-content .main .content .field-name-body p{
  
  font-size: 35px;
    line-height: 40px;
}


.page-node-38 .main-content .main .content .field-name-body p .fuente-italica{
	font-size: 48px;
}

.page-node-38 .main-content .main .content .field-name-body .text-descri-nuestro-trabajo p{
  font-size: 20px;

}

.page-node-38 h1#page-title{
	font-size: 48px;
}

.page-node-48 .field-name-body h2{
	font-size: 34px;
}

.page-node-48 .field-name-body h2 span{
	font-size: 47px;
}

#block-block-4{
	padding: 24px 0 58px;
}

form#formulario-calc h2{
	font-size: 35.69px; line-height: 35px;
}

.app-redes-sociales-contenido #primer-parrafo {font-size: 20px;}

.app-redes-sociales-contenido #segundo-parrafo {font-size: 22px; font-weight: bold;}

.app-redes-sociales-contenido h3 { font-size: 34px; ;}
.app-redes-sociales-contenido h3 span { font-size: 56px;}

 /* Ajustar el ancho de las columnas para responsividad */
 .panel-2col-stacked .panel-col-last,
 .panel-2col-stacked .panel-col-first {
    width: 50%;
 }

 .page-trabaje-con-nosotros .redes-sociales {
    text-align: right;
 }

}